<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>
    <entry key="boeq6sjXU9YxK5mXZ6L9CA==">Qq9dXTiEaeJkJQ2K0VMqXfMHL1G/L1XARx4TPcKptgI=</entry>
    <entry key="YuGoj+YOjMgMoDtDFfbLJb9Adw8YBNIAGakBEJ+1bMo=">Vtz7lOB322vUE4L6BypdmQ==</entry>
    <entry key="7EzIf1n1zc5XYuVn0RzQUA==">5TPpO3aFUfIs9A2MeZvusw==</entry>
    <entry key="cmhHU98Mo4z8m2dqHxvdSw==">Ssu+1S09CfKrjUD/bONW0d33Xelrv2Jhi5FGQJ5ZkUHtZt05/vP3tp3e6qkgxPWX</entry>
</properties>
